.hero-content {
  &__wrapper {
    width: min(100%, 785px) !important;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
  }

  &__content {
    & p {
      font-size: var(--font-size-4);
      font-family: var(--font-family-primary);
      font-weight: 300;
    }
  }
}
