.c-button {
  color: var(--color-text);
  font-size: var(--font-size-2);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: 700;
  padding: var(--size-3) var(--size-6);
  border-radius: var(--corner-01);
  border: 2px solid var(--color-white);
  text-decoration: unset;
}
