.c-tickets {
  & .c-tickets__column {
    flex: 1 0;
  }

  & .c-tickets__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-3);
    font-weight: 400;
  }

  & .c-tickets__item {
    --size: 3.12vw;

    aspect-ratio: 1;
    background-color: var(--color-gray-03);
    color: var(--color-text);
    font-size: calc(var(--size) * 0.8);
    font-weight: 700;
    max-width: 40px;
    text-transform: uppercase;
    width: var(--size);
  }
}
