.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  body:has(#wpadminbar) & {
    top: 32px !important;
  }

  & .header__wrapper {
    height: 80px;
    width: min(100%, var(--content-width));
  }

  & .header__logo img {
    height: 100%;
    object-fit: contain;
    width: min(100%, 200px);
  }

  & .header__logo:not(:has(img)) {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-2);
    font-weight: 900;
    text-decoration: unset;
    text-transform: uppercase;
  }

  .menu-primary-container #menu-primary {
    display: flex;
    gap: var(--size-8);
    list-style: none;
    padding: unset;

    & .menu-item {
      margin: unset;
    }

    & .menu-item a {
      color: var(--color-text);
      font-family: var(--font-family-primary);
      font-size: var(--font-size-2);
      font-weight: 700;
      padding: var(--size-5) 0;
      text-decoration: unset;
      text-transform: uppercase;
    }

    & .menu-item-has-children {
      position: relative;
    }

    & .menu-item-has-children:hover > .sub-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    & .sub-menu {
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      left: auto;
      list-style: none;
      margin: unset;
      min-width: 180px;
      opacity: 0;
      padding: unset;
      position: absolute;
      right: 0;
      top: 36px;
      transform: translateY(-5px);
      transition: 0.3s;
      visibility: hidden;
      white-space: nowrap;
      width: max-content;
    }

    & .sub-menu > .menu-item {
      padding: var(--size-1);
      width: 100%;

      & a {
        color: var(--color-blue-02);
        padding: unset;
      }
    }

    & .sub-menu > .menu-item a {
      color: var(--color-blue-02);
      display: block;
    }
  }
}
